<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Main</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Enter</a></li>
    </ul>
</nav>